.right-sidebar {
  background-color: #e8f5e9; /* Vert très clair */
}

.tab {
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s ease;
  border-radius: 8px;
}

.tab:hover {
  background: #455a642d; /* Vert clair au survol */
}

.tab.active {
  background: #455a64; /* Vert principal */
  color: white;
}

.emoji-btn {
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #455a64; /* Bordure verte */
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.emoji-btn:hover {
  background-color: #455a642d; /* Vert clair au survol */
}

.emoji-btn.active,
.emoji-btn:checked {
  background-color: #455a64; /* Vert vif lorsqu'il est sélectionné */
  border-color: #455a64;
  color: white;
}

.miam {
  border: 1px solid #455a64;
  background-color: #455a642d;
  border-radius: 10px;
  padding: 10px;
}
